<div class="container mt-5">

   <div class="dash-states p-4 mt-4">
            
        <div class="state-card">
            <h4>Total Predictions</h4>
            <p id="totalPredictions">0</p>
        </div>

        <div class="state-card">
            <h4>Active Predictions</h4>
            <p id="activePredictions">0</p>
        </div>

        <div class="state-card">
            <h4>Inactive Predictions</h4>
            <p id="inactivePredictions">0</p>
        </div>

    </div>

    
    <div class="row mt-4">
        
        <div class="col-md-5">
            <div class="card p-4">

                <h4>Prediction Distribution</h4>

                <canvas id="predictionChart"></canvas>

            </div>
        </div>

        <div class="col-md-7">
            <div class="card p-4">

                <h4>Top Searched Compounds</h4>

                <canvas id="topCompoundsChart"></canvas>

            </div>
        </div>
    
    </div>

</div>